@model CozyCorners.ViewModels.RegisterViewModel

@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleLogin.css" />
    <link rel="stylesheet" href="~/css/DashBoard/css/bootstrap.min.css" />
    <script src="~/js/DashBoard/js/core/bootstrap.min.js"></script>
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="~/images/login.png"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-controller="Account" method="post">

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Create Account</p>
                        </div>

                        <!-- UserName input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="UserName"  class="form-control form-control-lg"
                                   placeholder="Enter User Name" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Email"  class="form-control form-control-lg"
                                   placeholder="Enter Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input asp-for="Password" type="password"  class="form-control form-control-lg"
                                   placeholder="Enter password" />
                                   <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                     

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                               Register
                            </button>
                        
                        </div>

                    </form>
                </div>
            </div>
        </div>
     
    </section>
</body>
</html>
