@{
    ViewData["Title"] = "NoOrders";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="text-center">
 
    <img src="~/images/rb_1188.png" style="height:100vh; width=200px;" />
    <h1 class="text-bold ">
        There is no Orders For you! 
    </h1>
    <p>Let's do some shopping</p>
   
    <a  asp-action="Index" asp-controller="Home" class="p-5 text-body btn ">  <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
</div>